/*--------------------
    Sidebar
----------------------*/
.sidebar {
    margin-left: 0px !important;
}
ul#accordionSidebar {
    background: #2d782a;
}
 /* Slider bun */
button.Dbtn-primary {
    background: #42bf3d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
button.Dbtn-primary:hover {
    background: #098d04;
    transition: .3s;
    cursor: pointer;
}